*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}

:root{
    --color-dark: #212529;
    --color-light: #faf9fa;
    --color-primary: #9792e3;
    --color-secondary: #809848;
    --color-tertiary: #ff0022;
}

/* ************************************************ */

.bg-dark{
    background: var(--color-dark);
}

.bg-light{
    background: var(--color-light);
}

.bg-primary{
    background: var(--color-primary);
}

.bg-secondary{
    background: var(--color-secondary);
}

.bg-tertiary{
    background: var(--color-tertiary);
}

.txt-dark{
    color: var(--color-dark);
}

.txt-light{
    color: var(--color-light);
}

.txt-primary{
    color: var(--color-primary);
}

.txt-secondary{
    color: var(--color-secondary);
}

.txt-tertiary{
    color: var(--color-tertiary);
}

/* ********************************************* */
/* *************  B  O  D  Y  ****************** */
/* ******************************************** */


/* ********************************************* */
/* *************  H E A D E R ****************** */
/* ******************************************** */

header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

header .logo{
    margin: 25px;
    font-size: 28px;
    font-weight: 600;
}


header .nav-menu{

}

header .nav-menu .nav-list{
    display: flex;
}

header .nav-menu .nav-list .nav-item{
    margin: 25px;
    overflow: hidden;
}

header .nav-menu .nav-list .nav-item .nav-link{
    font-size: 28px;
}

header .nav-menu .nav-list .nav-item .nav-link:hover{
    color:var(--color-tertiary);
    border-bottom: 2px solid var(--color-tertiary);
    transition: all .3s ease;
}
/* ***************************************** */
/* *************  M A I N ****************** */
/* **************************************** */

main{
    display: flex;
    flex-direction: column;
}

section{
    height: 100vh;
    width: 100vw;
}

/* ******************************************* */

#accueil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.txt{
    font-size: 48px;
}
/* ************************************************ */

#apropos{

}

/* ************************************************ */

#experiences{

}

/* ************************************************ */

#contact{

}

/* ******************************************** */
/* ************* F O O T E R ****************** */
/* ******************************************* */
